@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-Regular.ttf);
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-Italic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-SemiBold.ttf);
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-SemiBold.ttf);
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-Bold.ttf);
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(/fonts/RedHatDisplay-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
}

:root {
  /* COLORS */
  --primary-dark: hsl(192deg 37% 48%);
  --primary-dark-hover: hsl(192deg 54% 64%);
  --primary-light: hsl(192deg 90% 77%);
  --secondary-dark: hsl(268deg 34% 53%);
  --secondary-dark-hover: hsl(268deg 55% 71%);
  --secondary-light: hsl(268deg 100% 86%);
  --black: hsl(240deg 21% 20%);
  --gray: hsl(240deg 10% 57%);
  --white: hsl(0deg 0% 98%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
